*::-webkit-scrollbar { width: 0 !important }

@media screen and (max-width : 12040px) {.menuItem{font-size:20pt;} form table td {font-size: 18pt;} legend{font-size: 20pt;} }
@media screen and (max-width : 1204px)  {.menuItem{font-size:18pt;} form table td {font-size: 16pt;} legend{font-size: 18pt;} }
@media screen and (max-width : 640px)   {.menuItem{font-size:10pt;} form table td {font-size: 14pt;} legend{font-size: 16pt;} }
@media screen and (max-width : 320px)   {.menuItem{font-size:8pt; } form table td {font-size: 12pt;} legend{font-size: 14pt;} }


body{
  background: white;
  margin: 0;
  padding: 0;
  position: absolute;
  height: 100%;
  width:  100%;
  overflow: hidden;
}
#ajaxBody{
    width:100%;
    height:100%;
}
form{
  height: 95%;
  width:  100%;
  position: relative;
}
form table{
  width: 100%;
  height: 80%;
}

form table td:first-child {
  width: 30%;
}
form table td:nth-child(2) {
  width: 70%;
  text-align: center;
}
fieldset{
  -webkit-margin-start: 5pt;
  -webkit-margin-end: 5pt;
  -webkit-margin-before: 5pt;
  -webkit-margin-after: 5pt;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 10pt;
  -webkit-padding-end: 10pt;
  -webkit-padding-after: 0em;
  height:100%;
  -moz-border-radius:10px;  
  border-radius: 10px;  
  -webkit-border-radius: 10px;
  background-color: rgb(218, 229, 253);
}
legend{
  font-weight: bold;
}
input, textarea, select {
  width: 80%;
  height: 80%;
  /*height: 3em;*/
  /*margin: 0.8em;*/
  display: block;
  border: 1px solid silver;
  background: linear-gradient(#eee, #fff);
  transition: all 0.3s ease-out;
  color: #555;
  padding: 0px;
  z-index:100;
}
input:focus, textarea:focus, select:focus {
  outline: none;
  background-position: 0 -1.7em;
  z-index:1000;
}
input:hover, textarea:hover, select:hover {
  outline: none;
  background: linear-gradient(#fff, #eee);
}
input[type="submit"]{
  cursor:pointer;
}
#menuHolder{
    position: relative;
    left:0%;
    width:100%;
    height:100%;
}
#menuTab{
  position: absolute;
  width:100%;
  height:100%;
  right:0%;
}
#menuTab2{
  position: absolute;
  width:100%;
  height:100%;
  right: 100%;
}
#MenuForm{
  bottom: 0%;
  left: 0%;
  height: 20%;
  background: rgb(206, 206, 206);
/*  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;*/
  width:100%;
  position: absolute;
  z-index:10000;
  overflow: hidden;
}
#MenuForm table{
  height: 100%;
}
.MenuForm td:nth-child(even),.MenuForm2 td:nth-child(even) {
  width: 33.33%;
}
.MenuForm td:nth-child(odd),.MenuForm2 td:nth-child(odd) {
  width: 0;
}
.menuItem{
  width:100%;
  height: 100%;
  outline: medium none;
  border: 1px solid #329ECC !important;
  opacity: 0.9;
  -khtml-opacity: 0.9;
  -moz-opacity: 0.9;
  -moz-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
  -webkit-box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
  box-shadow: 0 0 5px rgba(82, 168, 236, 0.5);
  display: inline-block;
  padding: 5px 10px;
  color: #777 !important;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(255,255,255,0.9);
  position: relative;
  cursor: pointer;
  border: 1px solid #ccc !important;
  transition: all 0.3s ease-out;
  background: #fff repeat-x !important;
}
.menuItem:active{
  background: #CCC  repeat-x !important;
}
.menuItem:hover{
  box-shadow: 1px 1px 5px black;
  height: 130%;
}
#chooseByDate{
  height:20%;
}
#loginForm {
  height:25%;
}
#insertPayMentForm, #updatePayMentForm, #updateNewUserForm{
  height:77%;
}
#insertInComeForm, #updateInComeForm{
  height:40%;
}
#phonePost{
  width: 55%;
  float: left;
  margin-left: 5%;
}
#phonePre{
  width: 20%;
  float: left;
}
#offLineMode{
  position: absolute;
  top:5%;
  right:5%;
  font-size: 180%;
  cursor: pointer;
  background-color: rgba(218, 229, 253, 0.5);
  -moz-border-radius:50%;
  -webkit-border-radius: 50%;
  border-radius:50%;
  display: inline-block;
  text-align: center;
  line-height: 1;
  z-index: 10000;
}
#loadAnim{
  display: none;
  width: 10%;
  position: absolute;
  left: 45%;
  top: 40%;
  height: 10%;
  z-index: 10000;
}
#loadGif{
  width: 100%;
}
#chart_div{
    top:10px;
}
#chart_div div{
    margin:0 auto;
}